<h2>Center</h2>

<!--<div id="center" style="position: absolute; left: 0; top: 0; width: 200px; height: 200px; background: linear-gradient(#f0f0f0, #d0d0d0); background-color: #e0e0e0;"></div>-->

<h2>swapWith</h2>

<ul>
  <li id="swap-1">Swap 1</li>
  <li id="swap-2">Swap 2</li>
  <li id="swap-3">Swap 3</li>
</ul>

<h2>coverPoint</h2>

<!--<div id="coverPoint" style="position: absolute; left: 0; top: 0; width: 200px; height: 200px;"></div>-->

<h2>isChildOf</h2>

<div id="isChildOf-no-p"></div>

<div id="isChildOf-p">
  <div>
    <p><strong id="isChildOf-c">Child</strong></p>
  </div>
</div>

{{#section 'pageScript'}}
  <script>
//    $('#center').center(50, 50);
//    $('#center').center();


//    $('#swap-1').on('click', function (e) {
//      console.log(e.target);
//    }).swapWith('#swap-2');


//    console.dir($('#swap-1').click(function (e) {
//      console.log(e.target);
//    })[0]);


//    _.log($('#coverPoint').coverPoint(-100, -100));
//    _.log($('#coverPoint').coverPoint(0, 0));
//    _.log($('#coverPoint').coverPoint(100, 100));
//    _.log($('#coverPoint').coverPoint(200, 200));
//    _.log($('#coverPoint').coverPoint(300, 300));

//    _.log($('#isChildOf-c').isChildOf('#isChildOf-p'));
//    _.log($('#isChildOf-c').isChildOf(document.getElementById('isChildOf-p')));
//    _.log($('#isChildOf-c').isChildOf($('#isChildOf-p')));
//    _.log($('#isChildOf-c').isChildOf('body'));
//    _.log($('#isChildOf-c').isChildOf('#isChildOf-no-p'));
  </script>
{{/section}}
