<h2>center</h2>

<!--<div id="center" style="position: absolute; left: 0; top: 0; width: 200px; height: 200px; background: linear-gradient(#f0f0f0, #d0d0d0); background-color: #e0e0e0;"></div>-->

<h2>showLoading / hideLoading</h2>

<div id="loading"></div>
<div id="loading-abs" style="position: absolute;"></div>

<h2>swapWith</h2>

<ul>
  <li id="swap-1">Swap 1</li>
  <li id="swap-2">Swap 2</li>
  <li id="swap-3">Swap 3</li>
</ul>

<h2>coverPoint</h2>

<!--<div id="coverPoint" style="position: absolute; left: 0; top: 0; width: 200px; height: 200px;"></div>-->

<h2>isChildOf</h2>

<div id="isChildOf-no-p"></div>

<div id="isChildOf-p">
  <div>
    <p><strong id="isChildOf-c">Child</strong></p>
  </div>
</div>

<h2>data-enter</h2>

<input type="text" data-enter="#enter"> <button type="button" id="enter">Enter</button>

<h2>data-toggle</h2>

<button type="button" data-toggle="#toggle" data-toggle-class="toggle-class">Toggle</button>
<p id="toggle">Lorem ipsum dolor sit amet.</p>

<h2>data-document-close</h2>

<p class="opened" data-document-close="#document-close">Close me.</p>
<p class="opened" id="document-close">Close together.</p>

<h2>data-select-all</h2>

<input type="checkbox" data-select-all="select-all" id="select-all">
<input type="checkbox" name="select-all" data-select="#select-all">
<input type="checkbox" name="select-all" data-select="#select-all">

{{#section 'pageScript'}}
  <script>
//    $('#center').center(50, 50);
//    $('#center').center();


//    $('#loading').showLoading();
//    $('#loading').hideLoading();
//    $('#loading-abs').showLoading();
//    $('#loading-abs').hideLoading();


//    $('#swap-1').on('click', function (e) {
//      console.log(e.target);
//    }).swapWith('#swap-2');


//    console.dir($('#swap-1').click(function (e) {
//      console.log(e.target);
//    })[0]);


//    _.log($('#coverPoint').coverPoint(-100, -100));
//    _.log($('#coverPoint').coverPoint(0, 0));
//    _.log($('#coverPoint').coverPoint(100, 100));
//    _.log($('#coverPoint').coverPoint(200, 200));
//    _.log($('#coverPoint').coverPoint(300, 300));

//    _.log($('#isChildOf-c').isChildOf('#isChildOf-p'));
//    _.log($('#isChildOf-c').isChildOf(document.getElementById('isChildOf-p')));
//    _.log($('#isChildOf-c').isChildOf($('#isChildOf-p')));
//    _.log($('#isChildOf-c').isChildOf('body'));
//    _.log($('#isChildOf-c').isChildOf('#isChildOf-no-p'));

    $(function () {

      $('#enter').click(function () {
        _.log('clicked');
      });

      $('[name="select-all"]').change(function () {
        _.log(this);
      });
    });
  </script>
{{/section}}
